include CONSOLE.md
include README.md
include LICENSE
include CHANGELOG.md
include requirements.txt
recursive-include aiac *
recursive-include AI_Accelerator *
recursive-include deployment *
recursive-include monitoring *
recursive-include governance *
recursive-include users *
recursive-include assets *.png *.jpg *.jpeg *.svg *.css *.js
global-exclude *.pyc
global-exclude __pycache__
