Django
djangorestframework 
djangorestframework-simplejwt 
drf-spectacular 
django-cors-headers 
python-decouple 
sqlparse 
whitenoise 
psycopg2-binary 
celery 
django-redis 
tensorflow 
PyJWT 
python-dotenv 